
###> symfony/framework-bundle ###
/.env
/.idea
/.gitignore
/public/bundles/
/var/
/vendor/
/composer.lock
/symfony.lock
/phpunit.phar
/tests/.gitignore

###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
