
###> symfony/framework-bundle ###
/.env.dist
/.idea
/.gitignore
/public/
/var/
/vendor/
/composer.lock
/symfony.lock
/phpunit.phar
/phpunit.xml.dist
/tests/.gitignore
/bin
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
